<nav class="navbar navbar-dark" style="background-color: #0094DA;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/img/icono.png" alt="Logo de ALASK HOME IMPORTER" width="30" height="24" class="d-inline-block align-text-top">
        ALASK HOME IMPORTER
      </a>

      <div>
        <span class="navbar-text d-flex align-items-center" *ngIf="active">
            Hola, {{[username]}}!
        </span>
        
        <div *ngIf="active; then thenBlock else elseBlock"></div>

        <ng-template #thenBlock>
            <div>
                <button mat-icon-button matTooltip="Carrito de compras, mira aquí tus productos">
                    <mat-icon matBadgeOverlap="true" [matBadgeHidden]="matBadge==0" [matBadge]="matBadge"
                        matBadgeColor="warn">shopping_cart</mat-icon>
                </button>

                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="irPerfil()">
                        <mat-icon>account_circle</mat-icon>
                        <span>Perfil</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>logout</mat-icon>
                        <span>Cerrar sesión</span>
                    </button>
                    <button *ngIf="false" mat-menu-item (click)="irAdministracion()">
                        <mat-icon>settings</mat-icon>
                        <span>Administración</span>
                    </button>
                </mat-menu>
            </div>
        </ng-template>

        <ng-template #elseBlock>
            <div class="d-flex align-items-center">
                <div class="altura" style="height: 48px; width: 48px;"></div>
                <button mat-raised-button (click)="openDialogSesion()">Iniciar Sesion</button>
            </div>
        </ng-template>
      </div>

    </div>
  </nav>