mat-toolbar{
    background-color: rgb(116, 52, 15);
    padding: 0 20px;
}

.mat-toolbar-single-row {
    justify-content: space-between
}

div {
    display: flex;
    flex-direction: row;
}

mat-icon {
    color: white;
}

.navbar-text {
    color: white;
}