mat-toolbar{
    background-color: rgb(116, 52, 15);
    padding: 0 20px;
}

.mat-toolbar-single-row {
    justify-content: space-between
}

div {
    display: flex;
    flex-direction: row;
}

a,p {
    text-decoration: none;
    color: #fff;
}

img {
    width: 30px;
    margin-right: 10px;
}

.mat-icon{
    color: #ffffff;
}

#mat-menu-item{
    color: black;
}
  
