mat-toolbar {
    background-color: rgb(116, 52, 15);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    padding: 0;
    margin: 0;
}