<mat-card>
  <div style="text-align:center;">
    <mat-card-title>Modificar Proveedor</mat-card-title>
  </div>
  <br>
  <form [formGroup]="proveedorModificado">
    <mat-form-field class="campos-field">
      <mat-label>RUC</mat-label>
      <input matInput readonly="true" formControlName="ruc"/>
    </mat-form-field>

    <mat-form-field class="campos-field">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre"/>
      <mat-error *ngIf="proveedorModificado.controls['nombre'].hasError('required')">Nombre es requerido.</mat-error>
      <mat-error *ngIf="proveedorModificado.controls['nombre'].hasError('pattern')">Nombre no válido.</mat-error>
      <mat-error *ngIf="proveedorModificado.controls['nombre'].hasError('maxLength')">Nombre no puede tener mas de 150
        caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field class="campos-field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email"/>
      <mat-error *ngIf="proveedorModificado.controls['email'].hasError('required')">Email es requerido.</mat-error>
      <mat-error *ngIf="proveedorModificado.controls['email'].hasError('email')">Email no válido.</mat-error>
      <mat-error *ngIf="proveedorModificado.controls['email'].hasError('maxlength')">Email no puede tener mas de 150
        caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field class="campos-field">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono"/>
      <mat-error *ngIf="proveedorModificado.controls['telefono'].hasError('required')">Teléfono es requerido.</mat-error>
      <mat-error *ngIf="proveedorModificado.controls['telefono'].hasError('pattern')">Teléfono no válido.</mat-error>
      <mat-error *ngIf="proveedorModificado.controls['telefono'].hasError('maxlength')">Teléfono no puede tener mas de 10
        caracteres.</mat-error>
      <mat-error *ngIf="proveedorModificado.controls['telefono'].hasError('minlength')">Teléfono debe tener al menos 9
        caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="campos-field" style="grid-column: span 2;">
      <mat-label>Provincia</mat-label>
      <mat-select formControlName="provincia">
        <mat-option *ngFor="let provincia of provincias" [value]="provincia.nombre">
          {{provincia.nombre}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="proveedorModificado.controls['provincia'].hasError('required')">Provincia es requerida.</mat-error>
    </mat-form-field>

    <mat-form-field class="campos-field" style="grid-column: span 2;">
      <mat-label>Logo</mat-label>
      <input matInput formControlName="logo" />
      <mat-error *ngIf="proveedorModificado.controls['logo'].hasError('required')">Logo es requerido.</mat-error>
      <mat-error *ngIf="proveedorModificado.controls['logo'].hasError('pattern')">Logo no válido.</mat-error>
      <mat-error *ngIf="proveedorModificado.controls['logo'].hasError('maxlength')">Logo no puede tener mas de 10
        caracteres.</mat-error>
      <mat-error *ngIf="proveedorModificado.controls['logo'].hasError('minlength')">Logo debe tener al menos 5
        caracteres.</mat-error>
    </mat-form-field>

    <div class="acciones">
      <button class="btnEnviar" mat-raised-button color="accent" [disabled]="!proveedorModificado.valid" (click)="onSubmit()">Aceptar</button>
      <button mat-raised-button (click)="cancelar()">Cancelar</button>
    </div>

  </form>

</mat-card>