<div class="contenedor">
    <div class="nombre-producto">
        <h1>
            {{producto.nombre}}
        </h1>
    </div>
    <div class="contenedor-informacion">
        <div class="imagen">
            <img [src]="producto.imagen" alt="">
        </div>
        <div class="descripcion">
            <h2 style="text-align: center;">Descripción</h2>
            <p>
                {{producto.descripcion}}
            </p>
        </div>
    </div>
    <div  style="padding: 10px;">
        <h1 style="color: red;">
            $ {{producto.precio}}
        </h1>
    </div>
    <div  style="padding: 10px;">
        <h3>
            Stock: {{producto.stock}}
        </h3>
    </div>
    
    <div style="padding: 10px;">
        <mat-button-toggle class="menu-item" (click)="accionCarrito()"
      (change)="producto.carrito = $event.source.checked" checked="{{producto.carrito}}"  *ngIf="active; else otro2">
      <mat-icon *ngIf="!producto.carrito">add{{iconCarrito}}</mat-icon>
      <mat-icon *ngIf="producto.carrito">remove{{iconCarrito}}</mat-icon>
      </mat-button-toggle>
      <ng-template #otro2>
        <mat-button-toggle class="menu-item" (click)="accionCarrito()"
          checked="{{producto.carrito}}" >
         <mat-icon *ngIf="!producto.carrito">add{{iconCarrito}}</mat-icon>      
        </mat-button-toggle>
      </ng-template>
        <mat-button-toggle mat-raised-button type="button" (click)="cancelar()" routerLink="productos" class="menu-item">Cancelar</mat-button-toggle>
    </div>
</div>