* {
    box-sizing: border-box;
}

.card {
    overflow: hidden;
}

.card img {
    min-height: 300px;
    max-height: 300px;
    object-fit: cover;
    transition: 0.5s;
}

.card img:hover {
    transform: scale(1.2);
}

mat-button-toggle {
    color: white;
    border: #2bbbad;
}

mat-button-toggle:hover {
    border: #2bbbad;
}

/* .producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
    border-radius: 20px;
    background-color: #ededed;
    height: 100%;
}

.producto img {
    width: 300px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.contenedor-botones {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.producto > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-button-toggle {
    color: white;
    border-radius: 5px !important;
    width: 50%;
    height: auto;
} */