
<div class="container">
    <h1>Listado de proveedores</h1>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="text" class="form-control" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Ruc</th>
              <th>Nombre<th>
              <th>Email</th>
              <th>telefono</th>
              <th>direccion</th>

            </tr>
          </thead>
          <tbody>
            
            <tr *ngFor="let post of proveedor | filter: filterPost">
              <td>{{post.ruc}}</td>
              <td>{{post.nombre}}</td>
              <td>{{post.email}}</td>
              <td>{{post.telefono}}<td>
              <td>{{post.direccion}}<td>


            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
