*{
    box-sizing: border-box;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    gap: 20px;
    text-align: center;
}

.acciones {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

input{
    width: 100%;
}

.btnEnviar:enabled {
    background-color: #2bbbad;
    color: #fff;
}

h1 {
    font-weight: bold;
}
