<div class="card mt-4">
    <div class="card-header cabezera">
        <h2 class="titulo-cabezera">{{producto.nombre}}</h2>
        <button class="btn btn-danger eliminar" (click)="eliminarProducto(producto.id)">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
    <!-- <h2 class="card-header">{{producto.nombre}}</h2> -->
    <div class="card-body contenedor">
        <div class="box imagen">
            <img [src]="producto.imagen" class="card-img-top" alt="Imagen del producto {{producto.nombre}}">
        </div>
        <div class="box contenido">
            <p class="fw-bold">Descripción:</p>
            <p>{{producto.descripcion}}</p>
            <p><strong>Disponibilidad: </strong>{{producto.stock}} unidades</p>
            <p><strong>Precio: </strong>${{producto.precio}}</p>
            <div class="cantidad">
                <p class="fw-bold parrafo-cantidad">Cantidad:</p>
                <button class="menu-item" (click)="removeCantidad()">
                    <i class="fa-solid fa-minus"></i>
                </button>
                <input type="text" value="{{producto.cantidad}}" readonly>
                <button class="menu-item" (click)="addCantidad()">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <div class="total">
                <!-- <span class="fw-bold" style="margin-right: 5px;">Total:</span> -->
                <span>Total: ${{producto.precio * producto.cantidad}}</span>
            </div>
        </div>
    </div>
</div>