<div class="contenedor-principal" >

    <h1 class="title mt-3">Nuestros Productos</h1>

    <div class="contenedor-categorias">
        <mat-button-toggle-group>
            <mat-button-toggle color="primary" (click)="clasificarProductos(0)" checked="true">
                Todas
            </mat-button-toggle>
            <mat-button-toggle color="primary" *ngFor="let categoria of categorias" (click)="clasificarProductos(categoria.id)">
                {{categoria.nombre}}
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    

    <div class="contenedor-productos mt-3" *ngIf="productos.length != 0 else elseBlock">
        <app-producto *ngFor="let producto of productos" [producto]="producto"></app-producto>
    </div>
    <ng-template #elseBlock>
        <h1>No hay productos en esta categoría. Pronto subiremos más!</h1>
    </ng-template>

</div>

<div class="separador"></div>