<mat-card>
  <div style="text-align:center;">
    <mat-card-title>Nuevo Proveedor</mat-card-title>
  </div>
  <br>
  <form [formGroup]="proveedorNuevo">
    <mat-form-field class="campos-field">
      <mat-label>RUC</mat-label>
      <input matInput formControlName="ruc">
      <mat-error *ngIf="proveedorNuevo.controls['ruc'].hasError('required')">RUC es requerido.</mat-error>
      <mat-error *ngIf="proveedorNuevo.controls['ruc'].hasError('pattern')">RUC no válido.</mat-error>
      <mat-error *ngIf="proveedorNuevo.controls['ruc'].hasError('maxlength')">RUC no puede tener mas de 13
        caracteres.</mat-error>
      <mat-error *ngIf="proveedorNuevo.controls['ruc'].hasError('minlength')">RUC debe tener al menos 13
        caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field class="campos-field">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
      <mat-error *ngIf="proveedorNuevo.controls['nombre'].hasError('required')">Nombre es requerido.</mat-error>
      <mat-error *ngIf="proveedorNuevo.controls['nombre'].hasError('pattern')">Nombre no válido.</mat-error>
      <mat-error *ngIf="proveedorNuevo.controls['nombre'].hasError('maxlength')">Nombre no puede tener mas de 150
        caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field class="campos-field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="proveedorNuevo.controls['email'].hasError('required')">Email es requerido.</mat-error>
      <mat-error *ngIf="proveedorNuevo.controls['email'].hasError('email')">Email no válido.</mat-error>
      <mat-error *ngIf="proveedorNuevo.controls['email'].hasError('maxlength')">Email no puede tener mas de 150
        caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field class="campos-field">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono">
      <mat-error *ngIf="proveedorNuevo.controls['telefono'].hasError('required')">Teléfono es requerido.</mat-error>
      <mat-error *ngIf="proveedorNuevo.controls['telefono'].hasError('pattern')">Teléfono no válido.</mat-error>
      <mat-error *ngIf="proveedorNuevo.controls['telefono'].hasError('maxlength')">Teléfono no puede tener mas de 10
        caracteres.</mat-error>
      <mat-error *ngIf="proveedorNuevo.controls['telefono'].hasError('minlength')">Teléfono debe tener al menos 9
        caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field class="campos-field" style="grid-column: span 2;">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="direccion">
      <mat-error *ngIf="proveedorNuevo.controls['direccion'].hasError('required')">Dirección es requerida.</mat-error>
      <mat-error *ngIf="proveedorNuevo.controls['direccion'].hasError('maxlength')">Dirección no puede tener mas de 150
        caracteres.</mat-error>
      <mat-error *ngIf="proveedorNuevo.controls['direccion'].hasError('minlength')">Dirección debe tener al menos 4
        caracteres.</mat-error>
    </mat-form-field>

    <div class="acciones">
      <button mat-raised-button  color="accent" [disabled]="!proveedorNuevo.valid" (click)="onSubmit()">Aceptar</button>
      <button mat-raised-button (click)="cancelar()">Cancelar</button>
    </div>
    
  </form>

</mat-card>