<div class="contenedor-principal">
    <h1 class="mt-4 text-center "><span class="titulo">LISTA DE FAVORITOS</span></h1>
    <div class="container " *ngIf="productos.length > 0 else elseBlock">
        <app-card-carrito *ngFor="let product of productos" [producto]="product" (idProducto)="deleteProducto($event)"></app-card-carrito>
        

    </div>

    <ng-template #elseBlock>
        <div class="else">
            
            <img class="img" src="https://bit.ly/3iT5OxR" alt="no hay productos">
            <h2 class="text-center ">No tienes ningún producto agregado a tu lista de favoritos.</h2>
        
        </div>
    </ng-template>
    
    <div class="separador"></div>
</div>