<div class="card" style="width: 18rem;">
  <img [src]="producto.imagen" class="card-img-top" alt="Imagen del producto {{producto.nombreProducto}}">
  <div class="card-body">
    <h2 class="card-title fw-bold">{{producto.nombreProducto}}</h2>
    <p class="card-text">{{producto.descripcion}}.</p>
    <h3 class="fw-bold">${{producto.precio}}</h3>

    <div>
      <mat-button-toggle (click)="onClick()" (change)="checked = $event.source.checked" 
        [style.background]="checked ? '#848589' : '#2bbbad'" class="btn btn-primary">
      <mat-icon>{{icono}}</mat-icon> {{btnNombre}} 
      </mat-button-toggle>
    </div>
  </div>
</div>

