<div class="contenedor-principal" *ngIf="(active && (rol === 2)) else elseBlock" (window:resize)="onResize($event)">

  <h1>USUARIO</h1>

  <div class="contenedor-managerTable">


    <div class="contenido-managerTable">

      <div class="contenedor-filter">

        <mat-form-field class="campos-field">
          <mat-label>
            <mat-icon>filter_alt</mat-icon>
            Filtrar por
          </mat-label>
          <mat-select [(value)]="selectFilter">
            <mat-option *ngFor="let columna of columnasFilter" [value]="columna" (onSelectionChange)="onChangeFilter()">
              {{columna}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="campos-field" *ngIf="selectFilter === 'Id'">
          <mat-label>Id</mat-label>
          <input matInput (keyup)="filterById()" [formControl]="txtId">
          <mat-error *ngIf="txtId.hasError('pattern')">Solo ingrese numeros.</mat-error>
        </mat-form-field>



        <mat-form-field class="campos-field" *ngIf="selectFilter === 'Nombre'">
          <mat-label>Nombre</mat-label>
          <input matInput (keyup)="filterByNombre()" [formControl]="txtNombre">
          <mat-error *ngIf="txtNombre.hasError('pattern')">Solo ingrese letras.</mat-error>
        </mat-form-field>

        <mat-form-field class="campos-field" *ngIf="selectFilter === 'Apellido'">
          <mat-label>Apellido</mat-label>
          <input matInput (keyup)="filterByApellido()" [formControl]="txtApellido">
          <mat-error *ngIf="txtApellido.hasError('pattern')">Solo ingrese letras.</mat-error>
        </mat-form-field>


        <mat-form-field class="campos-field" *ngIf="selectFilter === 'Email'">
          <mat-label>Email</mat-label>
          <input matInput (keyup)="filterByEmail()" [formControl]="txtEmail">
        </mat-form-field>

        <mat-form-field class="campos-field" *ngIf="selectFilter === 'Telefono'">
          <mat-label>Teléfono</mat-label>
          <input matInput (keyup)="filterByTelefono()" [formControl]="txtTelefono">
          <mat-error *ngIf="txtTelefono.hasError('pattern')">Solo ingrese números.</mat-error>
        </mat-form-field>


        <mat-form-field class="campos-field" *ngIf="selectFilter === 'Direccion'">
          <mat-label>Direccion</mat-label>
          <input matInput (keyup)="filterByDireccion()" [formControl]="txtDireccion">
          <mat-error *ngIf="txtDireccion.hasError('pattern')">Solo ingrese Letras.</mat-error>
        </mat-form-field>

        <mat-form-field class="campos-field" *ngIf="selectFilter === 'Rol'">
          <mat-label>Rol</mat-label>
          <mat-select [formControl]="txtRol" (openedChange)="filterByRol()">
            <mat-option>Ninguna</mat-option>
            <mat-option  value="1">Cliente</mat-option>
           <mat-option value="2">Administrador</mat-option> 
          </mat-select>
        </mat-form-field>


        <mat-form-field class="campos-field" *ngIf="selectFilter === 'Provincia'">
          <mat-label>Provincia</mat-label>
          <mat-select [formControl]="txtProvincia" (openedChange)="filterByProvincia()">
            <mat-option>Ninguna</mat-option>
            <mat-option *ngFor="let provincia of provincias" [value]="provincia.nombre">
              {{provincia.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </div>

      <div class="contenedor-selectColumns">

        <button mat-raised-button [matMenuTriggerFor]="beforeMenu">
          <mat-icon>view_week</mat-icon><span>Columnas</span>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <mat-selection-list (click)="$event.stopPropagation()">
            <mat-list-option (click)="onclickColumn(0)" [selected]="selectId" checkboxPosition="before"
            [disabled]="checkId">Id</mat-list-option>
            <mat-list-option (click)="onclickColumn(1)" [selected]="selectNombre" checkboxPosition="before"
              [disabled]="checkNombre">Nombre</mat-list-option>
            <mat-list-option (click)="onclickColumn(2)" [selected]="selectApellido" checkboxPosition="before"
              [disabled]="checkApellido">Apellido</mat-list-option>
            <mat-list-option (click)="onclickColumn(3)" [selected]="selectEmail" checkboxPosition="before"
              [disabled]="checkEmail">Email</mat-list-option>
            <mat-list-option (click)="onclickColumn(4)" [selected]="selectTelefono" checkboxPosition="before"
              [disabled]="checkTelefono">Teléfono</mat-list-option>
            <mat-list-option (click)="onclickColumn(5)" [selected]="selectDireccion" checkboxPosition="before"
              [disabled]="checkDireccion">Teléfono</mat-list-option>
            <mat-list-option (click)="onclickColumn(6)" [selected]="selectRol" checkboxPosition="before"
              [disabled]="checkRol">Rol</mat-list-option>
            <mat-list-option (click)="onclickColumn(7)" [selected]="selectProvincia" checkboxPosition="before"
              [disabled]="checkProvincia">Provincia</mat-list-option>

          </mat-selection-list>
        </mat-menu>

      </div>
    </div>

  </div>

  <div class="contenedor-tabla">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort #empTbSort="matSort">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Id">Id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Nombre">Nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por apellido">Apellido</th>
        <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
      </ng-container>


      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef>Teléfono</th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
      </ng-container>

      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef>Direccion</th>
        <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
      </ng-container>

      <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef>Rol</th>
        <td mat-cell *matCellDef="let element"> {{convertir(element.rol)}} </td>
      </ng-container>


      <ng-container matColumnDef="provincia">
        <th mat-header-cell *matHeaderCellDef>Provincia</th>
        <td mat-cell *matCellDef="let element"> {{element.provincia}} </td>
      </ng-container>


      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openDialogModificar(element)">
            <mat-icon class="edit">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      <tr *matNoDataRow>
        <td class="td-notFound" [attr.colspan]="columnsToDisplay.length">
          No se encontraron coincidencias.
        </td>
      </tr>

    </table>
  </div>

</div>


<ng-template #elseBlock>
  <app-error403></app-error403>
</ng-template>