* {
    margin: 0;
    box-sizing: inherit;
}

.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 40px;
    max-width: 400px;
}

h2 {
    font-weight: bold;
}

p {
    font-size: 13pt;
}

h2,
p {
    text-align: center;
}

img {
    width: 150px;
}

.btnEnviar:enabled {
    background-color: black !important;
    color: white !important;
}