<div class="contenedor-principal" *ngIf="(active && (rol === 2)) else elseBlock">
  
  
  <div class="contenedor-botones">
    
    <div (click)="irAdminUsuarios()" class="boton usuarios">
      <div class="contenedor-informacion">
        <div class="informacion">
          <h1>{{usuarios}}</h1>
          <h2>USUARIOS</h2>
        </div>
        <mat-icon>group</mat-icon> 
      </div>         
      <div class="barra-inferior">ir</div>  
    </div>
    
    <div (click)="irAdminProductos()" class="boton productos">
      <div class="contenedor-informacion">
        <div class="informacion">
          <h1>{{productos}}</h1>
          <h2>PRODUCTOS</h2>
        </div>   
        <mat-icon>inventory_2</mat-icon>
      </div>
      <div class="barra-inferior">ir</div>
    </div>

    <div (click)="irAdminVentas()" class="boton ventas">
      <div class="contenedor-informacion">
        <div class="informacion">
          <h1>{{ventas}}</h1>
          <h2>VENTAS</h2>
        </div>
        <mat-icon>shopping_cart</mat-icon>
      </div>
      <div class="barra-inferior">ir</div>
    </div>
    
    <div (click)="irAdminProveedores()" class="boton proveedores">
      <div class="contenedor-informacion">
        <div class="informacion">
          <h1>{{proveedores}}</h1>
          <h2>PROVEEDORES</h2>
        </div>
        <mat-icon>domain</mat-icon>
      </div>
      <div class="barra-inferior">ir</div>      
    </div>    

  </div>

</div>

<ng-template #elseBlock>
  <app-error403></app-error403>
</ng-template>