.imagen {
    height: calc(100vh - 64px);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-image: url(../../assets/img/Fondo5.jpg);
    background-size: cover;
    background-position: center;
    /* margin-top: -64px; */
    position: relative;
}

.separador {
    height: 150px;
}

.opcion {
    background-color: #2bbbad;
    border: #2bbbad;
}

.card {
    overflow: hidden;
}

.card img {
    transition: 0.5s;
    object-fit: cover;
}

.card img:hover {
    transform: scale(1.2);
}

.title {
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
}

.extra {
    background-color: #2bbbad;
    padding: 20px;
    height: 25vh;
}

.extra mat-icon {
    height: 60px;
    width: 60px;
    font-size: 60px;
}

.contenedor {
    width: 600px;
    height: 500px;
}

.principal {
    width: 600px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px black;
    background-color: white;
}

.principal img {
    object-fit: cover;
    object-position: center;
}