.contenedor-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 77%;
    gap: 20px;
}

h1 {
    font-size: 3rem;
}

img {
    width: 150px;
}
.promo img {
    width: 550px;
}