<!-- Fondo Inicial -->
<div class="imagen"></div>

<div class="separador"></div>

<!-- Nuestra Selección -->
<div class="container seleccion">
    <h1 class="title">Nuestra Selección</h1>
    <div class="row mt-5">
        <div class="col-sm-4">
            <div class="card">
                <img src="../../assets/img/tecnologia.jpg" class="card-img-top" alt="Electrodomestico">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="../../assets/img/tecnologia.jpg" class="card-img-top" alt="Tecnologia">
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <img src="../../assets/img/tecnologia.jpg" class="card-img-top" alt="Tecnologia">
            </div>
        </div>
    </div>

    <!-- Botones -->
    <div class="row mt-3">
        <div class="col-sm-4">
            <a href="#" class="btn btn-primary d-inline-flex align-items-center opcion">
                Electrodomésticos
                <mat-icon>arrow_forward</mat-icon>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="btn btn-primary d-inline-flex align-items-center opcion">
                Tecnología
                <mat-icon>arrow_forward</mat-icon>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="btn btn-primary d-inline-flex align-items-center opcion">
                Accesorios
                <mat-icon>arrow_forward</mat-icon>
            </a>
        </div>
    </div>
</div>

<div class="separador"></div>

<!-- Productos -->
<h1 class="title">Nuestros Productos</h1>
<div class="productos mt-3">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/img/Productos5.jpg" class="d-block w-100" style="height: 650px;" alt="producto1">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/Productos3.jpg" class="d-block w-100" style="height: 650px;" alt="producto2">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/Productos1.jpg" class="d-block w-100" style="height: 650px;" alt="producto3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="boton-producto mt-3 text-center">
    <button class="btn btn-primary d-inline-flex align-items-center opcion" (click)="irProductos()">
        Ver todos los productos
        <mat-icon>arrow_forward</mat-icon>
    </button>
</div>

<div class="separador"></div>

<!-- Extra -->
<div class="extra">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card mb-2"></div>
                <div class="d-flex p-3 align-items-center">
                    <div class="mini-icono">
                        <mat-icon>local_shipping</mat-icon>
                    </div>
                    <div class="mini-contenedor mx-2">
                        <h3 class="fw-bold">Envíos garantizados</h3>
                        <span>Llegamos a la puerta de tu hogar con la mejor tecnología en tus manos.</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mb-2"></div>
                <div class="d-flex p-3 align-items-center">
                    <div class="mini-icono">
                        <mat-icon>handshake</mat-icon>
                    </div>
                    <div class="mini-contenedor mx-2">
                        <h3 class="fw-bold">Servicio personalizado</h3>
                        <span>Excelentes precios y con un buen servicio y atención hacia nuestros clientes.</span>
                    </div>
                </div>
            </div>
        
            <div class="col-sm-4">
                <div class="card mb-2"></div>
                <div class="d-flex p-3 align-items-center">
                    <div class="mini-icono">
                        <mat-icon>new_releases</mat-icon>
                    </div>
                    <div class="mini-contenedor mx-2">
                        <h3 class="fw-bold">Productos 100% originales</h3>
                        <span>Productos con los más altos estándares de calidad y garantía.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="separador"></div>